@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import "tailwindcss";
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
/* Hide scrollbar globally */
html,
body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.panel {
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.perspective-container {
  perspective: 1800px;
  overflow: hidden;
}

/* Add to <style> block */
.hover-preview img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hover-preview:hover img {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(169, 88, 71, 0.3);
}

/* global.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.font-sora {
  font-family: "Sora", sans-serif;
}
.font-nunito {
  font-family: "Nunito", sans-serif;
}

.font-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}


.font-abel {
  font-family: "Abel", sans-serif;
}

.font-helvetica {
  font-family: Helvetica, Arial, sans-serif;
}


.helvetica-neue {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
